.intro__list{
  list-style-type: none;
  font-size: 12px;
  line-height: 18px;
  padding-inline-start: 0;
  font-weight: bold;
  
  width: 690px;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .intro__list {
    width: 288px;
  }
}