.cover__overlay {
  width: 1184px;
  background: #2A2C2F;
  opacity: 0.3;
  margin: 0 auto 0;
  grid-column: 1/1;
  grid-row: 1/1;
  z-index: 1;
}

.cover__overlay:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    width: 1024px;
    margin-left: -48px;
    margin-right: -48px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    width: 768px;
    margin-left: -24px;
    margin-right: -24px;
  }
}

@media screen and (max-width: 320px) {
  .cover__overlay {
    width: 320px;
    margin-left: -16px;
    margin-right: -16px;
  }
}