.footer {
  display: flex;
  justify-content: space-between;
  width: 1184px;
  margin: 0 auto 0;
  padding-bottom: 24px;
}

@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
  }
}